extend _layout

prepend html
	- custom.title = 'Home'
	- custom.body_cls = 'body--home'

block main
	section.home
		.explorer
			p Exploremos
			img(src!=config.static_url("images/arrow-down.png") alt="")
		.home__sides
			p Lado A
			p Lado B
		.home__navigation
			img(src!=config.static_url("images/icono-centro-axis.png") alt="Centro Axis")
			.container__dots
				.dot__yellow.dot__container
					.dot__click(data-mobile="section--yellow").dot__color--yellow
					.dot__content.dot__content--left(data-show="section--yellow")
						p I. Dinamicas / Assessments
						span.dot
				.dot__orange.dot__container
					.dot__click(data-mobile="section--orange").dot__color--orange
					.dot__content.dot__content--right(data-show="section--orange")
						span.dot
						p I. Hoja de Ruta
				.dot__green.dot__container
					.dot__click(data-mobile="section--green").dot__color--green
					.dot__content.dot__content--left(data-show="section--green")
						p II. Herramientas de Trabajo
						span.dot
				.dot__pink.dot__container
					.dot__click(data-mobile="section--pink").dot__color--pink
					.dot__content.dot__content--right(data-show="section--pink")
						span.dot
						p II. Autoayuda
				.dot__blue.dot__container
					.dot__click(data-mobile="section--blue").dot__color--blue
					.dot__content.dot__content--left(data-show="section--blue")
						p III. Plantillas de Observación
						span.dot
				.dot__purple.dot__container
					.dot__click(data-mobile="section--purple").dot__color--purple
					.dot__content.dot__content--right(data-show="section--purple")
						span.dot
						p III. Comportamiento Ético
		.home__sections
			.section.section--yellow
				.section__image
					img(src!=config.static_url("images/imagen-amarillo-main.jpg") alt="")
					.section__image__title
						h2 I. Dinamicas y Assessments
						p Lado A
				.section__description.section__description--yellow1
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	Dinámicas de Presentación
						div
							p En este primer capítulo, encontrarás información, de las dinámicas más utilizadas a lo largo de los años de experiencia de Facilitadores; bajo la premisa que hayan sido beneficiosas para los objetivos de talleres (ya sea porque rompieron el hielo, dinamizaron, motivó a los participantes,  promovieron el trabajo en equipo, etc.). 
							p Cabe mencionar que, todas son dinámicas adaptadas y creadas, cambiando según la experiencia y los diferentes grupos; son multiculturales y  multifuncionales, para todos. La esencia es el Arte y el principio, el ser lúdico. Finalmente, fuera de los objetivos específicos de cada una de las dinámicas, hay un objetivo común a todas ellas pues también ayuda a los facilitadores a conocer más a los grupos de artesanos, artistas y diseñadores, generando lazos de confianza beneficiosos para ambas partes, bajo la premisa de una interacción horizontal basada en el respeto.
						div#first-block
							h3 1. De Dónde Vengo?
							h3 Descripción: 
							p Dinámica de Presentación utilizando el mapa del Perú, en donde los participantes se presentan uno a uno y comparten de donde provienen y su especialidad como artesanos, artistas, diseñadores, etc.
							h3 Objetivo:
							p Identificación con el entorno, con sus raíces, expresar y reconocer entre los participantes su pertenencia cultural. Empoderar a los participantes, expresando quienes son culturalmente. Y a los facilitadores, los ayuda a conocer y entender a los artesanos, saber de dónde vienen y aprender más sobre sus productos/técnicas.
							h3 Indicaciones generales:
							p En un mapa del Perú previamente impreso (solo con las regiones), los participantes colocan un post-it / papel cortado, con un dibujo previamente elaborado, de su línea artesanal (especialidad) o técnica, en su región de origen.
							h3 Tiempos:
							p Según la cantidad de participantes. En promedio, 5 minutos para elaborar el dibujo y 3 minutos para presentarse, por participante.
							h3 *1.1 De Dónde Vengo? #2 (Variante):
							p En un mapa del Perú (o del país en donde les toque llevar la dinámica), los artesanos colocan un modelo iconográfico brindado por el facilitador, a través de ese símbolo, se presentan y explican su origen. El punto de partida son sus orígenes, existe una base común, que podrán reconocer entre los participantes.
						div#second-block
							h3 2. Ayer, Hoy y Mañana (Pasado, Presente y Futuro)
							h3 Descripción:
							p Dinámica de presentación más profunda, pues conlleva al análisis y reflexión. Los participantes comparten vivencias desde sus inicios, pasando por la actualidad y a donde quieren llegar a través de su arte, expresándolo todo en dibujos.
							h3 Objetivo:
							p Busca identificar un punto de partida (en el presente) y que proyecten sus objetivos o hacia donde quieren ir / llegar. Pero también tiene como objetivo que los participantes reflexionen sobre sus inicios para que puedan darse cuenta  lo que han avanzado / crecido hasta el día de hoy. Trabajo en equipo basado en una buena comunicación (abre los canales de comunicación y empatía), porque crean una relación de confianza al encontrar afinidades / coincidencias entre los participantes. Auto identificación con sus raíces, saber expresarlas y transmitirlas a los demás.
							h3 Indicaciones generales:
							p Indicación general: “Comunícate a través del dibujo”. 
							1era parte de la Dinámica: Representar mediante el dibujo, el pasado / presente / futuro de su labor como artesanos; debe ser un dibujo espontaneo, no artístico.
							2da Parte: Se deben juntar en equipos con participantes que no se conozcan y compartir sus dibujos iniciales y deben crear un dibujo grupal. 
							Parte final: presentar el dibujo grupal a los demás grupos.
							h3 Tiempos:
							p Según la cantidad de participantes, en promedio: 10 - 12 minutos para dibujo individual, 30 minutos, dibujo grupal y 5 minutos por grupo para presentar los trabajos.
						div#third-block
							h3 3. Ovillo de Lana
							h3 Descripción:
							p Dinámica de presentación que los induce a re - crear (“tejer”) una red de contactos entre los participantes y romper el hielo entre ellos.
							h3 Objetivo:
							p El objetivo de esta dinámica es que entiendan que no están solos, si bien son individuos, hay toda una red de personas como ellos (afinidad) y entre todos son más fuertes. Busca llevarlos a entender la importancia de estar interconectados, red de especialistas, red de confianza, etc. De manera simbólica ellos se dan cuenta de que están todos conectados de manera cultural y la importancia de compartir con esa red (conocimientos, experiencias, técnicas, etc.).
							h3 Indicaciones generales:
							p Se les indica que deben ir lanzando un ovillo de lana y la persona que lo recepciona dice su nombre, de donde viene y otras preguntas que los facilitadores consideren relevantes para ese taller: ¿Qué espera de esta actividad? ¿Qué desea aprender?, o preguntas más casuales sobre sus gustos o intereses (comida preferida, pasatiempos, etc.). Al terminar y sin soltar un pedazo de lana, se lo debe arrojar al siguiente participante.
							h3 Tiempos:
							p Según la cantidad de participantes. En promedio de 3 a 5 minutos por cada uno.
							h3 *3.1 Ovillo de Lana #2 (Variante):
							p Se puede dejar la red de lana tal cual en el piso y al final de la sesión, cada participante agarra un pedazo de lana y se procede a deshacer la red y las personas van contando cuentan sus conclusiones/impresiones de la actividad o expectativas futuras (simbólico).
						div#fourth-block
							h3 4. Etiquetas con Nombre
							h3 Descripción:
							p Se les pone a los participantes desde que llegan al taller, etiquetas con su nombre, para que ellos puedan presentarse y conocerse. En los talleres y cursos de Diseño, se usan estas dinámicas basadas en Working with People (WWP). 
							h3 Objetivo:
							p Este tipo de dinámicas se utiliza para que todos los asistentes se puedan conocer mejor y abre las puertas a los trabajos grupales. Busca que se interesen unos por otros, generar empatía.
							h3 Indicaciones generales:
							p Se les pide a los participantes que se vayan presentando uno a uno y digan algo de ellos, que les gustaría compartir.
							h3 Tiempos:
							p Según la cantidad de participantes, en promedio de 3 a 5 minutos por persona.
						div#fifth-block
							h3 5. Hablar de los Sueños (Metas)
							h3 Descripción:
							p Dinámica de apertura con sus pares, además de identificar y reconocer las afinidades que existen entre los participantes.
							h3 Objetivo:
							p Esta dinámica busca conocer e identificar el interés de los artesanos por asistir al taller. Que puedan expresar cuáles son sus sueños, adonde quisieran llegar con su labor. Cuál es su motivación y expectativas.
							h3 Indicaciones generales:
							p Cada participante Se presenta y comparte con sus compañeros, cuáles son sus sueños. Se les guía para que cuenten el por qué  están ahí y que esperan lograr a raíz de ese taller.
							h3 Tiempos:
							p Según la cantidad de asistentes, en promedio, unos 5 minutos por cada uno.
						dvi#sixth-block
							h3 6. Cultura Viva
							h3 Descripción:
							p Dinámica de reconocimiento individual y de identificación, como parte de un valioso grupo cultural (artesanos). Muy rica para establecer conceptos y bases culturales afines y valiosas.
							h3 Objetivo:
							p Identificar al individuo, al grupo y su cultura. Identificar a cada uno de ellos como motores de cultura. Lograr que se valoren como parte de la historia. Reconocer el valor del grupo. Reconocer el significado de su cultura a través de diversas expresiones artísticas (canciones, bailes, etc.).
							h3 Indicaciones generales:
							p Se forman grupos. Se les indica que identifiquen aquellos conceptos o actividades relacionados a su cultura. Luego de compartir en grupo, deben escribir los conceptos o actividades que han identificado. Estas notas (escritas en pequeños papeles) se pegan en un papelógrafo en donde hay dibujado un gran árbol. Así todos los equipos pueden ir identificando qué conceptos forman las raíces (bases de su cultura), el tronco (guías y apoyo de su cultura), las ramas (complementos de su cultura) y así sucesivamente. 
							h3 Tiempos:
							p Es una Dinámica larga, las 3 etapas del ejercicio, toman aproximadamente 3 horas (dependiendo de la cantidad de participantes).
						.section__dot__nav
							a(href!="#first-block").circle__nav
							a(href!="#second-block").circle__nav
							a(href!="#third-block").circle__nav
							a(href!="#fourth-block").circle__nav
							a(href!="#fifth-block").circle__nav
							a(href!="#sixth-block").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--yellow2", data-image="static/images/amarillo2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--yellow4" , data-image="static/images/amarillo4.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--yellow2
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	Dinámicas para Romper el Hielo
						
						div#first-block
							h3 1. El Círculo
							h3 Descripción: 
							p Dinámica de presentación, rompimiento de hielo y que induce a la conformación de grupos de trabajo.
							h3 Objetivo:
							p Esta dinámica busca que los participantes tomen la iniciativa y rompan el hielo, presentándose, pero también, puedan intercambiar información con los demás, generando empatía y a la vez, se toma conciencia de las similitudes y afinidades que existen. Luego de esta dinámica, es propicio empezar los trabajos en equipo.
							h3 Indicaciones generales:
							p Se les pide a los participantes formar un círculo, para que todos puedan presentarse. Se les indica que, cada vez que escuchen una palmada, tendrán que caminar y buscar a otro participante y deberán compartir algo con él. Pueden ser preguntas sobre intereses, gustos o incluso, más profundas. A cada palmada, deberán realizar un cambio. Finalmente se harán grupos en base a quienes crees que tuviste mayor afinidad.
							h3 Tiempos:
							p Según la cantidad de participantes. En promedio, 2 minutos por presentación y 2 minutos por cada palmada (3 – 4 palmadas /preguntas).
							
						div#second-block
							h3 2. Comparto mi Emoción
							h3 Descripción:
							p Dinámica de presentación, propicia sobre todo para romper el hielo y el temor al ridículo; se basa en la expresión verbal y no verbal, lenguaje corporal.
							h3 Objetivo:
							p Presentación, quien es y asociarlo con una emoción (espontánea y que esté sintiendo en ese momento o que lo describa). Rompimiento de hielo (emociones a flor de piel). Dinamiza y genera empatía. Rompe límite con el ridículo. Todo lo que viene después de esa dinámica, es más emotivo, genuino, abiertos a expresarse, mostrando sus emociones.
							h3 Indicaciones generales:
							p IPresentarse y mediante un gesto, sonido o movimiento corporal, expresar como se sienten o que piensan en ese momento o qué creen que los describe.
							h3 Tiempos:
							p Presentarse y mediante un gesto, sonido o movimiento corporal, expresar como se sienten o que piensan en ese momento o qué creen que los describe.
						div#third-block
							h3 3. Dibujando un Juguete de la Infancia
							h3 Descripción:
							p Dinámica de presentación y rompimiento de hielo, pero también de reflexión y búsqueda del niño interior. Esta dinámica brinda una apertura emocional para los participantes, luego de utilizarla, el trabajo en equipo será más fluido y cómodo.
							h3 Objetivo:
							p Esta dinámica tiene como meta, el que los participantes bajen sus barreras, se abran emocionalmente y estén listos para conocerse, reconocerse y trabajar en equipo para una identidad en común, teniendo como base afinidades y sus raíces o esencia.
							h3 Indicaciones generales:
							p En una hoja de papel cada uno de los participantes deberá dibujar aquel juguete que más recuerdan de su infancia. Se les da unos minutos para recordar algún juguete que haya marcado su infancia o que más recuerden, para posteriormente dibujarlo. Luego, cada uno de los participantes enseñará su dibujo al grupo y de manera sencilla explicará que es, como jugaban con él y que edad tenían.
							h3 Tiempos:
							p En promedio 40 minutos para realizar el dibujo y 5 minutos para compartirlo con los demás participantes.
						div#fourth-block
							h3 4. La Mejor Tierra
							h3 Descripción:
							p Dinámica bastante práctica en donde los participantes deben trabajar en equipo y encontrar el mejor producto que ofrece la zona. Se utiliza sobre todo cuando la capacitación es realizada fuera de Lima y en el lugar de origen de la mayoría de los participantes. 
							h3 Objetivo:
							p Esta dinámica busca establecer un vínculo par entre los participantes y facilitadores, donde se les hace entender, que los “dueños de casa” o anfitriones son ellos y que se ha venido a ayudarlos y trabajar en equipo (que se elimine la creencia desde el inicio del taller, que los que vienen de fuera, “saben más”): la relación es horizontal. Otros objetivos que se buscan es el trabajo en equipo, comunicación y negociación.
							h3 Indicaciones generales:
							p Todos los participantes deben salir del aula de trabajo a recolectar tierra. Deben  caminar alrededor de la zona e ir colocando en unos baldes, la tierra que encuentren y que sea la mejor para el equipo. Luego, de retorno al aula, se cataloga la tierra recolectada. Y finalmente se van identificando todos los recursos que existen en la zona y son facilitadores para sus trabajos.
							h3 Tiempos:
							p Aproximadamente 60 minutos para la recolección y luego hasta 10minutos por equipo, para el análisis de la tierra y todos los beneficios que puede darles.
						
						.section__dot__nav
							a(href!="#first-block").circle__nav
							a(href!="#second-block").circle__nav
							a(href!="#third-block").circle__nav
							a(href!="#fourth-block").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--yellow3" , data-image="static/images/amarillo3.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--yellow1", data-image="static/images/imagen-amarillo-main.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--yellow3
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	Dinámicas de Creación y Co creación
						div#first__block
							h3 1. Nos Vamos a una Feria Internacional!
							h3 Descripción
							p Dinámica lúdica en donde se les pone como escenario que han sido invitados / seleccionados a una Feria en China (Internacional) para exponer sus productos.  Es una dinámica que agiliza y promueve la comunicación, basada en la creatividad.
						div
							h3 Objetivo:
							p Conocer a las artesanas, saber de dónde vienen y aprender más sobre sus productos/técnicas, como también la capacidad creativa y como buscan introducir sus productos a un nuevo mercado que no los conoce, resolución de obstáculos. Se busca que creen y dibujen su producto y sus características para dar a entender cómo está hecho, de que material, de que se inspira, etc. Y poder transmitir y llegar a un público diferente.
						div
							h3 Indicaciones generales:
							p Los participantes deben crear o escoger su producto favorito y “se suben al avión”. Durante el vuelo, tienen que ver de qué manera innovadora,  van a poder comunicar toda la información de su producto a personas que hablan otro idioma. 
							h3 Tiempos
							p Según la cantidad de participantes, en promedio unos  20 - 25 minutos para trabajar en su producto y luego unos 5 minutos para presentarlo.
						div#second-block
							h3 2. Póker de Brandolini
							h3 Descripción:
							p Es una dinámica de estrategia y negociación grupal, que busca romper esquemas y guiar a la creatividad y co creación. Los participantes deben crear un nuevo producto a partir de directrices un tanto peculiares.
							h3 Objetivo:
							p Estrategia para motivar la creatividad. Salir de la ruta estructurada de pensamiento. Rompiendo esquemas con elementos totalmente fuera de la caja que los lleva a innovar. Valioso: tiene 2 partes. La 1era al terminar el producto, los grupos reciben el feedback de los demás participantes y se les da una 2da parte, para que mejoren el producto tras los feedbacks. Este ejercicio promueve que se escuchen unos a otros y busquen mejorar.
							h3 Indicaciones generales:
							p Se les indica a los equipos que deben crear un nuevo producto en base a 3 tarjetas con pautas / directrices, que se les entrega de manera aleatoria a cada equipo. Estas tarjetas cumplen con las siguientes 3: material, técnica y para quien será elaborado. 
							h3 Tiempos:
							p Según cantidad de participantes. En promedio 30 minutos a todos los equipos, para crear sus productos y luego, exponer y presentar el producto de 5 a 10 minutos por equipo. Tras el feedback de los demás equipos, tienen 10 minutos más para mejorarlo y luego, otros 5 minutos para presentación final.
						div#third-block
							h3 3. Cadáver Exquisito
							h3 Descripción:
							p Dinámica creativa, que introduce al trabajo grupal, te brinda el marco y entrada para entender que cada participante es importante y forman una parte del todo; todas las contribuciones son valiosas.
							h3 Objetivo:
							p Cada participante aporta algo de sí mismo y son partícipes de un resultado grupal, los hace entender que no están solos. Es valioso pues aportan desde su perspectiva, respetando opiniones de los demás miembros del grupo y finalmente, todos contribuyen al producto final u objetivo común.
							h3 Indicaciones generales:
							p A todos los participantes se les da una hoja en blanco y la indicación inicial es hacer un dibujo en 5 minutos. Terminados los 5 minutos, se les indica que deben pasar su dibujo a la persona sentada al lado para que lo termine / complete en 5 minutos y así sucesivamente.
							h3 Tiempos:
							p Según cantidad de participantes, en promedio, 5 rondas (participantes) de 5 minutos cada una.
						div#fourth-block
							h3 4. Escudo del Grupo
							h3 Descripción:
							p Dinámica de co creación, para motivar e introducir el trabajo en equipo, desarrollando los temas de comunicación, respeto y empatía.
							h3 Objetivo:
							p Conocerse como un grupo o asociación. Darse cuenta que existe un vínculo, por medio de la identificación cultural. Esta dinámica los guía a reconocerse como equipo, basados en lo que tienen en común, buscando afinidades entre sí. Aprenden a escucharse y respetarse.
							h3 Indicaciones generales:
							p Los participantes se deben formar en equipos. Luego se les indica que deben realizar un Escudo del grupo dividido en 4 partes, dependiendo de la naturaleza del grupo; por ejemplo: habilidades, valores, roles y objetivos comunes. Finalmente debe escoger un nombre para ese Escudo (grupo). Todo mediante dibujos – lúdico.
							h3 Tiempos:
							p Según la cantidad de participantes. Son 25 minutos de trabajo por equipo y 5 minutos más, para la presentación del Escudo a los demás grupos.
						div#fifth-block
							h3 5. Creación de Nuevos Productos
							h3 Descripción:
							p Dinámica utilizada para despertar creatividad, visión innovadora y la capacidad de desarrollar un producto nuevo y diferente.
							h3 Objetivo:
							p Se busca generar nuevos productos a través de elementos tradicionales. Ejemplo: de polleras a cartucheras. La idea es plantear de qué otra manera se pueden utilizar los productos existentes y ver en qué los pueden convertir. Así ellos mismos, podrán darse cuenta del poder de la innovación, para seguir a la vanguardia y darle valor a sus productos o raíces.
							h3 Indicaciones generales:
							p Se les pide a los participantes que imaginen y luego en una  hoja de papel dibujen qué otros productos podrían ser útiles e interesantes para otras personas, pero siempre utilizando como base, sus elementos tradicionales e identidad. Mucha creatividad para la elaboración del nuevo producto.
							h3 Tiempos:
							p Según la cantidad de participantes, en promedio 30 minutos para realizar su producto innovador y 3 – 5 minutos para presentarlo y contestar preguntas.
						dvi#sixth-block
							h3 6. Cuentacuentos
							h3 Descripción:
							p Dinámica lúdica utilizada para generar lazos de empatía (escucha activa), identificación con pares y promover la capacidad creativa.
							h3 Objetivo:
							p La meta principal de esta dinámica es “darles voz” a los participantes, permitirles expresarse libremente, utilizando el recurso de la creatividad y comunicación asertiva y que puedan exteriorizar de manera lúdica sus pensamientos, emociones, creencias, etc.
							h3 Indicaciones generales:
							p Se les pide a los participantes que relaten un cuento, referente a un tema que se les da (acordado previamente y tiene que ver con el objetivo del taller) o que salga de manera espontánea. 
							h3 Tiempos:
							p Tienen unos 10 – 15  minutos para pensar en el cuento, darle forma y 10 minutos más, para narrarlo. 
						div#seventh-block
							h3 	7. Dibujos Simples
							h3 Descripción
							p Técnica utilizada cuando se trabajan ejercicios individuales, en donde se les muestra un modelo y los participantes deben copiarlo en un dibujo, utilizando las técnicas que conocen o la técnica que quieran crear.
							h3 Objetivo:
							p A través de esta dinámica, los capacitadores buscan actitudes y habilidades necesarias y distintivas en los participantes para el desarrollo del taller. Mientras los participantes están copiando el modelo según sus técnicas, los facilitadores pueden observar e identificar a los asistentes, mediante sus actitudes al dibujar o copiar el modelo. Pueden darse cuenta de su grado de interés, dedicación, compromiso, capacidad de observación y análisis, concentración, etc. El objetivo principal, no es el dibujo.
							h3 Indicaciones generales:
							p Sobre una mesa o altillo, se les pone un modelo (puede ser un bodegón, una artesanía o hasta un papel arrugado). Luego se les pide que se sienten alrededor o cerca para poder observar el modelo y empezar a copiarlo.
							h3 Tiempos:
							p En promedio 20 minutos para copiar el dibujo y luego unos 2 minutos para presentarlo a los demás participantes.
							h3 *7.1 Dibujo Simple #2 (Variante):  
							p En lugar de darles un modelo, se les pide a los participantes dibujar algo nuevo, creado por ellos, relacionado a la iconografía de la región. No se les impone ideas, solo se dan sugerencias en temas técnicos (dibujo).
						div#eighth-block
							h3 8. Dinámicas Creativas
							h3 Descripción
							p Se muestran las ideas de prendas que se quieren lograr. Y los participantes deben llegar a desarrollar ese producto.
							h3 Objetivo:
							p Esta dinámica es una apertura al trabajo que se desarrollará, se basa en la creatividad e innovación. Esta dinámica es utilizada sobre todo para el desarrollo de nuevas colecciones.
							h3 Indicaciones generales:
							p Tienen unos minutos para observar las prendas, participan con sus ideas o preguntas y luego pueden comenzar a trabajar en el proceso del tejido.
							h3 Tiempos:
							p Según la cantidad de participantes y la complejidad de la prenda o proceso (no hay un tiempo exacto establecido).

						.section__dot__nav
							a(href!="#first-block").circle__nav
							a(href!="#second-block").circle__nav
							a(href!="#third-block").circle__nav
							a(href!="#fourth-block").circle__nav
							a(href!="#fifth-block").circle__nav
							a(href!="#sixth-block").circle__nav
							a(href!="#seventh-block").circle__nav
							a(href!="#eighth-block").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--yellow4", data-image="static/images/amarillo4.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--yellow2", data-image="static/images/amarillo2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--yellow4
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	Dinámicas de Cierres o Reforzamiento 
						div#first__block
							h3 1. Lluvia de Ideas
							h3 Descripción:
							p Grupo de dinámicas que buscan la mayor cantidad de aportes creativos e ideas, sobre conceptos específicos en el mundo del arte, artesanía y diseño.
						div
							h3 Objetivo:
							p Se utiliza esta clase de ejercicios, sobre determinados conceptos importantes para el taller / encuentro. El facilitador puede identificar que comprende cada uno por el concepto en que se está trabajando y gracias a esas diferencias o ideas creativas, se les guía a los artesanos a que puedan llegar a acuerdos y consensos entre ellos, para que el concepto sea universal para todos los participantes.
						div
							h3 Indicaciones generales:
							p Se les da o propone un tema a los participantes, empiezan las intervenciones orales, presentando sus ideas sobre el tema. Luego, el facilitador los va guiando para que vayan llegando a acuerdos y se establecen consensos, las conclusiones o ideas aprobadas por todos, son las que se eligen finalmente.
							h3 Tiempos
							p En promedio pueden ser unos 10 – 15 minutos de lluvia de ideas, según la cantidad de participantes. Y finalmente, 20 – 25 minutos para llegar a acuerdos y establecer los “conceptos universales”.
						div#second-block
							h3 2. Mapas Mentales
							h3 Descripción:
							p Estilo de dinámicas que buscan el análisis o mejora o propuesta de procesos específicos, a través de mapas mentales expresados en imágenes (lúdico). Deben realizar mapas mentales en base a imágenes sobre un proceso específico relacionado al arte, artesanía, diseño. Establecen las pautas hasta llegar a completar el concepto: definir la ruta del proceso creativo.
							h3 Objetivo:
							p A través de estos ejercicios lúdicos, se busca facilitar el trabajo en equipo, consensos, negociación, compartir ideas. Observar y analizar la capacidad creativa y de comunicación entre los participantes; ver como cada integrante y luego los equipos, van interpretando lo que entienden, hasta formar y establecer un mapa mental acordado por todos los participantes.
							h3 Indicaciones generales:
							p Deben formar equipos de manera heterogénea (agrupación por post-it de color) para trabajar en las preguntas que se les van planteando (por medio de proyecciones). Luego, cada equipo va pegando en la pizarra los dibujos que son el resultado de sus trabajos, para formar un mapa mental de todos los grupos. Finalmente, cada grupo presenta sus conclusiones a los demás y se comparten las experiencias del trabajo.
							h3 Tiempos:
							p En promedio, se agrupan 30 minutos para trabajar en la elaboración de los mapas mentales de los equipos. Y para la elaboración del mapa mental general, son 5 minutos por equipo además de las conclusiones finales.
						div#third-block
							h3 3. Ejercicios de Análisis y Reflexión
							h3 Descripción:
							p Son dinámicas guiadas, que buscan llevar a los participantes al análisis de situaciones o temas específicos, para encontrar soluciones y acuerdos consensuados por todos los asistentes; temas que facilitarán el desarrollo del taller.
							h3 Objetivo:
							p El objetivo principal es ayudar y guiar a los participantes a que ellos mismos busquen soluciones o acciones a tomar ante ciertas situaciones. Dándoles una voz y el poder de expresar cuales serían sus acciones, ante diversas problemáticas. Se busca que todos participen, que sea un aporte equitativo (todos tienen una voz). El facilitador tiene un rol orientado a la escucha activa y guiarlos en los límites y marcos, como también a enfocarse en lo más importante para el desarrollo del taller.
							h3 Indicaciones generales:
							p Los asistentes se deben agrupar en equipos heterogéneos y aleatorios. Luego se les propone un tema, y los participantes lo van analizando, llegan a acuerdos hasta terminar con las conclusiones del equipo, que se expondrán a los demás asistentes.
							h3 Tiempos:
							p En promedio unos 20 – 25 minutos para el análisis de la situación / tema y poder llegar a las conclusiones grupales. Finalmente, 5 – 10 minutos por equipo para exponer frente a los demás grupos y responder preguntas.
						div#fourth-block
							h3 4. Preguntas Cerradas y Abiertas
							h3 Descripción:
							p Ejercicios individuales orientados a recabar información específica por medio de preguntas cerradas y abiertas, relacionadas con el tema principal a desarrollar en el taller. 
							h3 Objetivo:
							p El objetivo principal es conocer a los participantes con un poco más de profundidad, sobre puntos específicos y necesarios para los talleres que se van a manejar en el taller.
							h3 Indicaciones generales:
							p Se les da a los participantes una hoja de papel y se les indica que se les irán haciendo diversas preguntas, en total 10. A cada pregunta, tienen unos minutos para contestarla y se les dicta la siguiente hasta completar las 10. Se les pide contestar con honestidad y sinceridad.
							h3 Tiempos:
							p Para las preguntas cerradas, en general 1 minuto y para las preguntas a desarrollar, puede ser de 3 a 5 minutos. Al final, se les pide que pueden compartir las respuestas de manera voluntaria.
						div#fifth-block
							h3 5. Dinámicas – Ejercicios Técnicos
							h3 Descripción:
							p Ejercicios para desarrollar puntos más precisos y concretos. Dinámica que busca enseñar una técnica especifica que ayudará y reforzará los conocimientos de los participantes. Ejemplo: Dibujo geométrico y composición modular, para utilizar en los tejidos a telar.
							h3 Objetivo:
							p El objetivo principal de estos ejercicios, es especializar a los asistentes en alguna técnica específica, que mejorará la calidad de sus productos. Se les brinda las pautas para realizar un nuevo proceso o técnica, que los ayudará a mejorar el producto final.
							h3 Indicaciones generales:
							p Las indicaciones serán en base al tipo de técnica o aprendizaje que se desarrollará en el taller. Ejemplo: trabajo individual o grupal, brindándoles esténciles geométricos para composición modular, que usarán en tejidos o artesanías. Finalmente, presentan a los demás equipos los productos realizados.
							h3 Tiempos:
							p Estas dinámicas duran aproximadamente entre 1 hora 30 minutos y
						dvi#sixth-block
							h3 6. Dinámicas de Reforzamiento
							h3 Descripción:
							p Son ejercicios o dinámicas que se realizan para reforzar el trabajo práctico o el tema del taller
							h3 Objetivo:
							p Se busca generar expectativa en los asistentes, sobre los resultados de la técnica que acaban de aprender. Los participantes pueden comprobar el alcance del nuevo aprendizaje e inferir como podrán utilizarlo en sus productos. Y también pueden recibir retroalimentación de los demás equipos, sobre el uso de la nueva técnica en sus productos. Finalmente serán capaces de poder identificar aquellos productos más atractivos para la venta y aprender a trabajar en grupo.
							h3 Indicaciones generales:
							p Se organizan grupos y cada uno de los participantes tendrá que crear productos innovadores, que presenten alguna utilidad teniendo en cuenta la técnica que se trabajó. Luego se presentan todos los productos, para que finalmente, sea elegido o seleccionado solo uno.
							h3 Tiempos:
							p Según participantes, en promedio 45 – 60 minutos para elaborar el producto según la técnica aprendida y luego, 10 minutos para ser presentado a los demás equipos y responder preguntas.
							p A continuación, presentamos un formato práctico para organizar y planificar las dinámicas que se utilizarán en los talleres.
							img(src!=config.static_url("images/tabla.jpg"))
						.section__dot__nav
							a(href!="#first-block").circle__nav
							a(href!="#second-block").circle__nav
							a(href!="#third-block").circle__nav
							a(href!="#fourth-block").circle__nav
							a(href!="#fifth-block").circle__nav
							a(href!="#sixth-block").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--yellow1", data-image="static/images/imagen-amarillo-main.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--yellow3", data-image="static/images/amarillo3.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
		.home__sections
			.section.section--green
				.section__image
					img(src!=config.static_url("images/imagen-verde-main.jpg") alt="")
					.section__image__title
						h2 II. Herramientas de Trabajo
						p Lado A
				.section__description
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	PLANTILLAS DE OBSERVACIÓN
						div
							p En este capítulo buscamos brindarles formatos de levantamiento de información, que podrán utilizar durante el transcurso de dinámicas, talleres, encuentros  y, que permitan al Observador estar atento a detalles, ocurrencias, situaciones y otros aspectos, que contribuyen con el éxito de estas actividades o los puntos que se deberían mejorar.
							p  Gracias al valioso aporte en base a las experiencias de los facilitadores, se identificaron y definieron las características o competencias en las que debieran poner mayor atención, para alcanzar el objetivo principal de estos encuentros, como es la interacción horizontal entre facilitadores y participante, basada en el respeto mutuo.
							p 	Estos formatos están elaborados para centrar el foco de atención en situaciones, etapas y momentos específicos: interacción entre los participantes, en la gestión del facilitador y en los elementos que influyan directamente en los participantes.
							p A través de estos formatos, se busca obtener información relevante en tiempo real, para después compartirla y retroalimentar al equipo. 

						div#first-block-green
							h3 1. Características esperadas en los Grupos / Equipos de Trabajo
							h3 Positivas:
							ul
								li Facilitador / Comunicador
								li Líder
								li Colaborador
								li Visión creativa
								li Interés en aprender / aportar
								li Compromiso
								li Intereses comunes entre los participantes
								li La historia que traen los participantes y las características que suelen tener las comunidades
							h3 Negativas
								li Impositivo
								li Acapara intervenciones
								li Negativo

							img(src!=config.static_url("images/tabla-green.jpg"))
						div#second-block-green
							h3 Elementos objetivos o subjetivos que influyen en los participantes y desarrollo del Taller
							h3 Subjetivos:
							ul
								li Información y comunicación previa la taller (participantes cuentan con información real)
								li Interés / reacción al contenido y temas del taller
							h3 Objetivos
							ul
								li Espacio / Ubicación
								li Mobiliario
								li Iluminación - Conexiones eléctricas
								li Ventilación
								li Materiales
								li Manejo de tiempos
							img(src!=config.static_url("images/tabla2-green.jpg"))
						div#third-block-green
							h3 3. Características / Competencias del Facilitador
							ul
								li Líder y con capacidad de establecer una relación horizontal
								li 	Seguro y preparado en el tema a abordar
								li 	Comunicación (habilidades interpersonales)
								li 	Empático, escucha activa
								li  Capacidad de negociar con la comunidad / participantes
								li Manejo de conflictos, orientado a conciliar
								li Energía, dinamismo, entusiasmo
								li Focalizado (no explayarse o salirse del tema) / manejo de tiempos
								li Claridad expositiva
							img(src!=config.static_url("images/tabla3-green.jpg"))
							
						.section__dot__nav
							a(href!="#first-block-green").circle__nav
							a(href!="#second-block-green").circle__nav
							a(href!="#third-block-green").circle__nav
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
					
		.home__sections
			.section.section--blue
				.section__image
					img(src!=config.static_url("images/imagen-azul-main.jpg") alt="")
					.section__image__title
						h2 III. Plantillas de Observación
						p Lado A
				.section__description
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	Dinámicas de Presentación
						div#first-block-blue
							h3 HERRAMIENTAS DE TRABAJO
							p En este segundo capítulo encontrarás el detalle de los materiales y útiles de trabajo, más prácticos y necesarios para llevar a cabo los talleres, congresos, encuentros, etc.
							p Los materiales se convierten en facilitadores del taller. No limitas a los participantes en su proceso de creatividad y aprendizaje, los motivas y les brindas todas las herramientas y diferentes estímulos de trabajo.
							p Las herramientas de trabajo más utilizadas y necesarias para el desarrollo de los talleres son:
							ul
								li Papelógrafos
								li Plumones marcadores
								li Colores
								li Temperas
								li Lápices suaves 2B
								li Hojas Bond
								li Post it
								li Stickers (nombre de participantes)
								li Masking tape
								li Tijeras
								li Goma
								li Cuchillas
								li Limpiatipo
								li Bolsas
								li Hojas de apuntes
								li Cámara fotográfica
							p  Otros materiales propuestos para la elaboración y desarrollo de los talleres en provincias o en lugares propuestos por los participantes, pueden ser:
							ul
								li Tableros individuales de trupan (A3) y sujetadores
								li Maletines y/o canastas para llevar materiales
								li Materiales de la zona
							img(src!=config.static_url("images/tabla-blue.png") alt="")
							
						.section__dot__nav
							a(href!="#first-block-blue").circle__nav
							a(href!="#second-block-blue").circle__nav
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot

					
		.home__sections
			.section.section--orange
				.section__image
					img(src!=config.static_url("images/imagen-naranja-main.jpg") alt="")
					.section__image__title
						h2 I. Hoja de Ruta
						p Lado B
				.section__description
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	HOJA DE RUTA
						p 	En este capítulo buscamos brindar información que ayude a definir la estructura de los talleres y que hayan dado los mejores resultados. Consolidando los diferentes esquemas compartidos por los facilitadores, se creó una Hoja de Ruta - practica, para poder ofrecer un esquema o estructura pauteada, a los facilitadores que utilicen el Manual, que los apoye y tengan la seguridad de abarcar los temas y objetivos, dentro de plazos establecidos y demás parámetros.
						div#first-block-orange
							h3 1. Planificación previa al Taller
							p En esta etapa previa a la fecha de inicio de un taller, es muy importante dar una revisión general de los temas y objetivos del taller, como también otros detalles como:
							ul
								li Identificación del espacio y equipamiento del lugar donde se llevara el taller
								li Revisión de las coordinaciones del día (recibimiento, inscripciones, etc.
								li Revisión de la lista de participantes para saber cuáles serán las dinámicas a usar 
								li Revisión de los temas y demás materiales de apoyo
								li Revisión de los tiempos y esquema pauteado
							p Lo que se busca es tener todo listo y previsto con anticipación. Si el taller o capacitación será realizado en un lugar fuera o provincia, lo ideal es llegar al menos un día antes, para poder tener el tiempo de realizar las últimas coordinaciones y revisión final.
						div#second-block-orange
							h3 2. Inicio del Taller
							p 1. Bienvenida y la inscripción de los participantes: entrega de sticker con nombre del participante o carnet distintivo del taller y la entrega del kit de trabajo.
							p 2. Ingreso a la Sala / Aula de trabajo: Intervenciones motivadoras antes de iniciar el taller / dinámica por parte de los facilitadores (as).
							p 3. Dinámicas: característica particular y diferencial de los talleres organizados y dirigidos por Axis Arte. Al iniciar con una dinámica, se establece un clima propicio y marca el tenor, para el resto de la jornada. Se genera un enganche / rapport con los participantes y entre ellos, se crea un ambiente de equipo. Busca hacer que sientan que están participando activamente en el taller (empoderamiento), son los invitados especiales. Pero por otro lado, con esta dinámica antes de todo, se les saca de su zona de confort. Y muy importante, se espera establecer un trabajo horizontal entre expositores / facilitadores y los participantes (ejem: se trata de romper con el espacio establecido, status quo; así se evita la clásica posición participantes frente a capacitadores que podría dar la percepción de un “versus”).
							p 4. “Presentaciones Formales”: Breve presentación de los Facilitadores, para darse a conocer y, la presentación de los temas y objetivos del taller (con los tiempos, herramientas y el desarrollo del mismo).
							p *El Inicio del Taller, podría ser también un Desayuno o un compartir, para romper el hielo y que se puedan conocer de manera espontánea.
						div#third-block-orange
							h3 3. Medio o Contenido “Técnico” del Taller
							p 1. Tema del Taller: Introducción al tema, exposiciones, Ahondar en los temas a trabajar en el taller, abordaje de los contenidos.
							p 2. “Break”: espacio y tiempo “informal” muy rico e importante, en donde se comparten otros contenidos o temas, que enriquecen el taller.
							p * En algunas comunidades se generan actividades sociales en y con el taller: Ej. Invitación a almorzar con la Comunidad.
							p 3. Dinámicas o capacitaciones técnicas enfocadas al tema que se trata, generalmente en equipo.
						div#fourth-block-orange
							h3 4. Cierre o Final del Taller
							p 1. Recogimiento, guiar a los participantes a que lleguen a las conclusiones finales, acuerdos / compromisos y alentarlos / motivarlos a seguir haciendo o que hagan lo que se aprendió en el taller.
							p 2. Darles la encuesta de cierre del taller para que puedan completarla antes de salir, también se les puede enviar de manera virtual a sus correos o llenarla en línea (es muy valioso contar con esta información).
							p  3. De ser el caso, se pueden mostrar de manera gráfica los resultados de algún taller anterior que tenga relación. Concursos finales.
							p  4. Tomar la foto grupal de final del taller
							p  5. Se les comunica que en las próximas semanas se subirá a la página social del Grupo AXIS Arte, un breve compendio del taller con: Foto grupal, los acuerdos o conclusiones y datos de contacto de todos los participantes.
							p 6. Despedida
							
							img(src!=config.static_url("images/tabla-orange.png") alt="")
						.section__dot__nav
							a(href!="#first-block-orange").circle__nav
							a(href!="#second-block-orange").circle__nav
							a(href!="#third-block-orange").circle__nav
							a(href!="#fourth-block-orange").circle__nav
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
					
		.home__sections
			.section.section--pink
				.section__image
					img(src!=config.static_url("images/imagen-rojo-main.jpg") alt="")
					.section__image__title
						h2 II. AUTOAYUDA
						p Lado B
				.section__description.section__description--pink1
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						div.first__block
							h3 II. AUTOAYUDA
				
							p En este capítulo se recopilaron diversas situaciones críticas o adversas o características de participantes no colaborativos o negativos, y como los facilitadores a través de su experiencia, las manejaron y el resultado final fue bueno o positivo. 
							p Esta sección permitirá que los facilitadores cuenten con una sección de autoayuda, para saber o tener un marco de cómo resolver estas situaciones críticas de la mejor manera (pautas, tips, consejos de situaciones o casos que se hayan presentado en varios encuentros, talleres, etc.).

						div#first-block-pink
							h3 II.1 Situaciones críticas que se pueden presentar durante los trabajos grupales
							h3 1. Situación N°1. Falta de participación de algunos y "monopolización" de la participación de otros:
							p Si la dinámica de grupo no funciona de manera equitativa y uno tiene una actitud de imponer mientras otros permanecen callados, se puede subdividir el grupo en dos partes o poner ciertos participantes en otros grupos. Al reducir el tamaño del grupo, los participantes más tímidos pueden animarse a hablar y los que monopolizan la conversación, al estar en otro grupo diferente, empiezan a escuchar más.
							
						div#second-block-pink
							h3 2. Situación N°2. Desorden grupal:
							p  Cuando los miembros del grupo no se escuchan y todos quieren hablar a la vez o imponerse, es preferible que un moderador (puede ser el Observador), establezca un orden o indicar que haya un moderador en el equipo, a quien se le vaya pidiendo la palabra antes de intervenir. No se busca interferir, solo darles un lineamiento simple, para que el mismo grupo pueda salir adelante y trabajar en equipo.

						div#third-block-pink
							h3 3. Situación N°3. “Líderes” impositivos:
							p Algunas veces en algún grupo de trabajo podemos encontrar a "lideres impositivos". Son personas dentro de los grupos que se autodenominan o se autoescogen como los líderes del grupo y quieren ser la voz del equipo (sin dejar que otros se expresen o den sus opiniones).
							p En estos casos, no se les debe quitar la autoridad directamente, si no de manera sutil, se trata de dar más espacio o voz a los demás participantes. Ejem: entregando plumones a todos y se les indica que también pongan sus ideas y que vayan avanzando con otro tema, mientras el "líder impositivo" está en su tema.
							
						div#fourth-block-pink
							h3 4. Situación N°4. Grupos en el que hay personas mayores y jóvenes y no coinciden en conceptos:
							p Es recomendable revisar las fichas de los inscritos a los talleres, para saber los grupos generacionales de los participantes, especialidad, lugar de proveniencia, etc. 
							p Se les debe "conocer" desde antes, pues así se pueden formar los grupos o equipos de trabajo, teniendo como base ciertas reglas  (que no se conozcan, que sean de distintas disciplinas y edades, etc.) para sacar el mejor provecho a estos encuentros y que todos puedan participar de manera equitativa

						div#fifth-block-pink
							h3 5. Situación N°5. Revisión previa del lugar donde se llevará a cabo el Taller:
							p Muchas veces se va a las salas, salones o auditorios para llevar a cabo los talleres y se dan con  la sorpresa que el espacio no es el adecuado para el óptimo desarrollo de los talleres. Es recomendable visitar o pedir foto - video - descripción del lugar en donde se manejaran los talleres, para ver si es el adecuado. Otra opción es indicar las características básicas con las que deberá contar el espacio en los requerimientos  previos a estos congresos. El espacio debe actuar como facilitador.
							
						div#sixth-block-pink
							h3 6. Situación N°6. Buscar conocer a la Comunidad si la capacitación es en provincia:
							p Es recomendable contar con un gestor local. Así se pueden entablar relaciones previas al taller, levantar información relevante que ayudaría al desarrollo y fluidez del taller. Este gestor, puede actuar de facilitador entre los participantes (comunidad) y facilitadores. 
							p Se sugiere que antes de realizar los talleres, se puedan informar y empapar de la historia  y  características de esa comunidad. Para que se sientan comprendidos, importantes y que los facilitadores no sean percibidos como "ajenos".

						div#seventh-block-pink
							h3 7. Situación N°7. Observar y estar atentos!:
							p Hay que ser muy observadores y estar atentos del clima y relación e interacción entre los participantes, para poder prevenir situaciones conflictivas. En la mayoría de casos es mejor prevenir y cortar por lo sano - redirigir, que encontrarse dentro del conflicto.
							
						div#eighth-block-pink
							h3 8. Situación N°8. Equilibrar los grupos de trabajo
							p Cuando los grupos que se forman no son heterogéneos, hay que equilibrar a los integrantes, cambiando algunos de ellos. Puede presentarse conflictos o competencia o también, no va a ser enriquecedora la experiencia por ser muy parecidos y esto podría complicar el desarrollo u objetivo del Taller.

						.section__dot__nav
							a(href!="#first-block-pink").circle__nav
							a(href!="#second-block-pink").circle__nav
							a(href!="#third-block-pink").circle__nav
							a(href!="#fourth-block-pink").circle__nav
							a(href!="#fifth-block-pink").circle__nav
							a(href!="#sixth-block-pink").circle__nav
							a(href!="#seventh-block-pink").circle__nav
							a(href!="#eighth-block-pink").circle__nav
							a(href!="#nineth-block-pink").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--pink2", data-image="static/images/rojo2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--pink3", data-image="static/images/rojo3.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--pink2
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						div.first__block
							h3 II.2 Situaciones críticas que se pueden presentar en los participantes o en las intervenciones individuales 
				
						div#first-block-pink
							h3 1. Situación N°1. Malas interpretaciones:
							
							p “Mal” interpretar la información que se da en el Taller y usarla beneficio propio. Lo mejor es insistir y asegurarse que todos los participantes entienden de la misma manera, lo que se les ha dicho. En proyectos a largo plazo, es muy útil establecer los compromisos por escrito y firmados (igual mecanismo para la entrega de materiales).
							
						div#second-block-pink
							h3 2. Situación N°2. Prejuicios (negatividad) en los participantes:
							p  Algunas veces llegan a los talleres (sobretodo en las comunidades) algunos asistentes que ya están predispuestos a responder a la defensiva ante cualquier cosa que no les parezca y tratan de encontrarle el lado negativo al taller. 
							p Lo mejor es dejarlos entrar y si quieren participar, que lo hagan, pero el moderador o facilitador debe tener mucho tacto para escucharlos, dejarlos intervenir y a la vez, cortarlos sutilmente cuando estén diciendo algo improductivo para el taller y guiarlos hacia lo positivo, haciéndolos sentir partícipes y que el taller será beneficioso no solo para ellos, sino para toda la comunidad.

						div#third-block-pink
							h3 3. Situación N°3. Inclusivos con todos los participantes:
							p Se pueden encontrar con algunos participantes dentro de los talleres que pueden "aislarse", puede ser por un tema de poco entendimiento del idioma o introversión. Si se deja pasar esta situación, la percepción de ese participante sobre el taller, será negativa. 
							p El mejor abordaje, es ir directamente y agacharse al lado de este participante y quedar "más abajo que el" (esta actitud significa que estamos a su servicio y lo queremos ayudar), si nos ponemos a su lado pero a nuestra altura o incluso a la suya misma, hay un lenguaje no verbal que puede indicarles que nos encontramos al mando o hasta resultar autoritarios. Una vez que nos ponemos agachados al lado, se les habla en voz baja y se busca ayudarlos (no se impone, si no, se sugiere). Entienden mucho mejor y aceptan la sugerencia con esta actitud.

							
						div#fourth-block-pink
							h3 4. Situación N°4. Manejo y control de tiempos:
							p Algunos participantes buscan estos encuentros para hacer escuchar sus quejas y se explayan demasiado. Pero son intervenciones infructuosas, que no aportan, no buscan soluciones, ni ayudan al desarrollo de los talleres.  Se les debe dar la palabra, pero con reglas, explicándoles que hay un tiempo limitado o de cuánto tiempo disponen. 
							p Otra opción es que cada taller cuente con un cronometro en la pantalla, para que los participantes puedan controlar sus tiempos en las intervenciones. Y otra salida es proponerles que escriban sus comentarios o preguntas en un papel y de manera anónima; luego los encargados del taller o capacitadores juntan las consultas según temas y las responden por grupos (así se optimizan los tiempos).

						div#fifth-block-pink
							h3 5. Situación N°5. Otros intereses en algunos asistentes:
							p Algunos participantes o asistentes a los talleres / congresos, etc. no son artesanos y van a estos encuentros con intereses diferentes al taller. Por lo tanto sus intervenciones son fuera de lugar, pues tienen una connotación política o social. No se les puede quitar la palabra, pero sí se deben buscar estrategias para neutralizarlos. Ejem: involucrarlos en los trabajos de equipo y cuanto más lúdico, mejor (dibujos y otras creaciones).
							
						div#sixth-block-pink
							h3 6. Situación N°6. Apertura a nuevos aprendizajes:
							p En algunos talleres, no faltan algunos artesanos que son más renuentes al cambio o a aceptar nuevos aprendizajes o técnicas. Esta actitud puede bloquear el aprendizaje de los demás participantes. Lo que se recomienda hacer, es acercarse y buscar entender por qué rechazan la nueva técnica y en base a su respuesta, acompañarlos en conocer la nueva técnica y dejar que vayan viendo a su alrededor, los beneficios que esto les traerán.
							
						.section__dot__nav
							a(href!="#first-block-pink").circle__nav
							a(href!="#second-block-pink").circle__nav
							a(href!="#third-block-pink").circle__nav
							a(href!="#fourth-block-pink").circle__nav
							a(href!="#fifth-block-pink").circle__nav
							a(href!="#sixth-block-pink").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--pink3", data-image="static/images/rojo3.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--pink1", data-image="static/images/imagen-rojo-main.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--pink3
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						div.first__block
							h3 Guía General para la Gestión del Facilitador
				
							p A continuación, presentamos unos cuadros con recomendaciones prácticas y didácticas, basadas en ejemplos reales, que brindarán a los facilitadores un marco referencial, para saber cómo manejarse en los talleres de la mejor manera.
						div#first-block-pink
							img(src!=config.static_url("images/pink1.png") alt="")
							
						div#second-block-pink
							img(src!=config.static_url("images/pink2.png") alt="")
							
						div#third-block-pink
							img(src!=config.static_url("images/pink3.png") alt="")
							
						div#fourth-block-pink
							img(src!=config.static_url("images/pink4.png") alt="")
							
						div#fifth-block-pink
							img(src!=config.static_url("images/pink5.png") alt="")
							
						div#sixth-block-pink
							img(src!=config.static_url("images/pink6.png") alt="")
							
						div#seventh-block-pink
							img(src!=config.static_url("images/pink7.png") alt="")
							
						div#eighth-block-pink
							img(src!=config.static_url("images/pink8.png") alt="")
						div#nineth-block-pink
							img(src!=config.static_url("images/pink9.png") alt="")
						.section__dot__nav
							a(href!="#first-block-pink").circle__nav
							a(href!="#second-block-pink").circle__nav
							a(href!="#third-block-pink").circle__nav
							a(href!="#fourth-block-pink").circle__nav
							a(href!="#fifth-block-pink").circle__nav
							a(href!="#sixth-block-pink").circle__nav
							a(href!="#seventh-block-pink").circle__nav
							a(href!="#eighth-block-pink").circle__nav
							a(href!="#nineth-block-pink").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--pink1", data-image="static/images/imagen-rojo-main.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--pink2", data-image="static/images/rojo2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
		.home__sections
			.section.section--purple
				.section__image
					img(src!=config.static_url("images/imagen-morado-main.jpg") alt="")
					.section__image__title
						h2 III. COMPETENCIAS Y COMPORTAMIENTO ÉTICO DEL CAPACITADOR
						p Lado B
				.section__description.section__description--purple1
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						h2 	COMPETENCIAS Y COMPORTAMIENTO ETICO DEL CAPACITADOR
						div.first__block
							p En este capítulo buscamos brindar información de las competencias y características esperadas en los facilitadores y que éstas, sean influyentes de manera positiva en su gestión. También daremos un marco para identificar cual debiera ser una conducta ética y apropiada de todo facilitador, basados en el principio de una interacción horizontal, basados en el respeto mutuo y sobretodo en la valoración de la propiedad intelectual de Artesanos, Artistas y Diseñadores.
						div#first-block-purple
							h3 III.1 Competencias del Facilitador
							p Las competencias son aquellas habilidades, capacidades y conocimientos que una persona tiene para cumplir eficientemente determinada tarea. Combinan las destrezas y la capacidad en desempeñar una función de forma efectiva, en nuestro caso, el Rol de Facilitador. 
								Las competencias identificadas como básicas para un desarrollo óptimo de los talleres con artesanos, artistas y diseñadores son:
							h3 1. Empatía: 
							p El facilitador debe orientar su trabajo a los participantes, implica proyectarse a la conciencia colectiva de las personas que están presentes en el Taller. Intentando percibir el taller desde la perspectiva de los participantes, buscando comprender lo que piensan y sienten, y así poder dirigir su mensaje a ellos.
							p Para demostrar empatía deben: buscar entender el sentir de los participantes, escucharlos con atención, interés y respeto, aceptar diferencias y no juzgar, etc.
						div#second-block-purple
							h3 2. Liderazgo:
							p Es la habilidad del facilitador para poder orientar la acción de los asistentes a los talleres, en una dirección u objetivo común determinado, inspirando la participación, guiando su aprendizaje y motivarlos a su propio crecimiento. 
							p Vemos que la labor del facilitador, tiene un impacto decisivo en los grupos de artesanos, artistas y diseñadores.
							h3 3. Adaptabilidad y Flexibilidad:
							p Es la habilidad que debe tener el facilitador para adaptarse y amoldarse a los cambios. Denota la capacidad de contar con la versatilidad en el comportamiento para poder adecuarse a los asistentes de diversos contextos, situaciones, medios y audiencias de manera rápida y eficazmente. 
							p Supone también entender y valorar grupos diversos, posturas distintas o puntos de vista encontrados, adaptando su propio enfoque a medida que la situación cambiante lo requiera. 
						div#third-block-purple
							h3 4. Capacidad para Aprender:
							p  Es la capacidad de los líderes, de seguir adquiriendo nuevos aprendizajes y conocimientos, entendiendo que se puede aprender de todo y de todos, sin limitar el aprendizaje a nociones académicas o jerárquicas.   
							p El facilitador debe estar abierto a nuevas formas de aprendizaje y experiencias que sigan enriqueciendo su labor como líder. También se refiere a la capacidad de usar de manera eficaz nuevos conocimientos y técnicas que lo ayuden en su función de capacitador. Finalmente logrará influir de manera natural y positiva en los talleres, para que los participantes también estén receptivos a nuevos aprendizajes.
							h3 5. Trabajo en Equipo:
							p Implica la capacidad del facilitador, de colaborar y cooperar con los demás, de formar parte de un grupo y trabajar juntos. Podemos ver actitudes del facilitador frente a los participantes, que influya en ellos de manera positiva y actúen de modelo para las interacciones entre los asistentes: comunicación horizontal, escuchar a los demás, valorar las diferencias, animar y motivar, desarrollar un ambiente de trabajo de cooperación y respeto, etc.
						div#fourth-block-purple
							h3 6. Conocimientos Técnicos:
							p Se trata de la experticia técnica y de los conocimientos específicos sobre el tema del taller, que debe tener el facilitador. Se refiere al dominio tanto de conocimientos teóricos de la disciplina así como su aplicación  y a ser utilizados en la práctica, es decir, que lo enseñado sea útil para los participantes.  
							p Debe apoyar a solucionar problemas referentes al tema y brindar respuestas a las consultas de los asistentes, con respuestas claras, sencillas de la disciplina específica del taller. Para ello debe contar con un profundo conocimiento técnico respecto a su especialidad y estar capacitado para aplicarlo a la práctica. 
							

						div#fifth-block-purple
							h3 7. Innovación:
							p  Es la habilidad del facilitador para modificar las cosas, temas o situaciones, incluso partiendo de formas o situaciones no pensadas con anterioridad. Si bien debe contar con una estructura o marco para llevar a cabo los talleres, su flexibilidad le permite innovar nuevas formas de llegar a los participantes del taller, teniendo como principal objetivo las características de los asistentes y la mejor manera de llegar a ellos. 
							p El facilitador, promueve así un estilo de gestión más dinámico y creativo, que sirve de modelo para los asistentes (romper con estructuras rígidas o aprendizajes antiguos que no evolucionan). Incluso, la innovación debe estar presente en idear soluciones nuevas y diferentes ante situaciones que se puedan presentar en el desarrollo de los Talleres.

						div#sixth-block-purple
							h3 8. Dinamismo y Energía:
							p Se trata de la habilidad del facilitador para trabajar duro en situaciones cambiantes o de mucha carga, con interlocutores muy diversos y en jornadas de trabajo prolongadas, sin que por eso se vea afectado su nivel de actividad. Es capaz de transmitir energía al equipo y puede motivarlos a que trabajen a ese mismo nivel. También es la habilidad de denotar en su trabajo una actitud de entusiasmo y buena disposición en todo lo que emprende.
						div#seventh-block-purple
							h3 9. Manejo de Conflictos:
							p  Es la habilidad del facilitador de contar con estrategias y actividades que procuran prevenir una escalada de tensiones, situaciones de conflicto y transformar interacciones de confrontación en intercambios beneficiosos y de colaboración y confianza para el desarrollo de los Talleres. 
							p Se orienta a negociar, conciliar y llegar a acuerdos o consensos, buscando que sean justos y equitativos. Todo ello gracias a su capacidad de manejar sus propias emociones y reacciones de manera práctica, pacífica y conveniente para todos los involucrados. 
							h3 10. Comunicación Asertiva:
							p Es una competencia que permite el manejo  de la comunicación e interacción, de una manera eficaz. La comunicación es un proceso bastante sensible y subjetivo y la comunicación asertiva es la habilidad de poder comunicarte e interactuar con los participantes de una manera en que sientan que se llega a ellos; en donde entienden al facilitador y a la vez, se sienten comprendidos. 
							p Entran muchos elementos en juego que van desde la empatía, escucha activa, respeto, como también claridad en el mensaje que se quiere dar, tono de voz, ritmo, postura corporal y hasta gestos. 
						div#eighth-block-purple
							h3 11. Tolerancia:
							p Habilidad del facilitador de reconocer las diferencias culturales, sociales o académicas que se puedan presentar en los Talleres y aceptarlas, respetando la diversidad. Esto le permite actuar de manera positiva y constructiva frente a estas diferencias. Es saber reconocer, que las diferencias en lugar de amenazas, pueden ser oportunidades de crecimiento para ambas partes. Capacidad de mantener una amplitud de criterio y enfocarse en la inclusión.
							h3 12. Observación y Atención a los Detalles:
							p Capacidad de observar y analizar detalles en su entorno, para poder inferir o prever diversas situaciones que se puedan presentar y no sean propicias para el óptimo desenvolvimiento del taller. Igualmente, en tiempo real, puede categorizar apropiadamente la información clave y sabe discriminar lo que es relevante de lo que no en los talleres. Con esta competencia, el facilitador y/u observador, se puede analizar el clima del taller o el tenor de las interacciones y poder tomar decisiones rápidas y efectivas, que promuevan el buen desarrollo de las actividades.

						.section__dot__nav
							a(href!="#first-block-purple").circle__nav
							a(href!="#second-block-purple").circle__nav
							a(href!="#third-block-purple").circle__nav
							a(href!="#fourth-block-purple").circle__nav
							a(href!="#fifth-block-purple").circle__nav
							a(href!="#sixth-block-purple").circle__nav
							a(href!="#seventh-block-purple").circle__nav
							a(href!="#eighth-block-purple").circle__nav
						.navigation__arrows
							.arrow__right(data-go="section__description--purple2", data-image="static/images/morado2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
							.arrow__left(data-go="section__description--purple2" , data-image="static/images/morado2.jpg")
								img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
				.section__description.section__description--purple2
					.section__description__content
						.close__button
							img(src!=config.static_url("images/close.png") alt="")
						div.first__block
							h3 III.2. Comportamiento Ético del Facilitador
				
							p Hemos recogido todas las conductas éticas esperadas del facilitador. Estos comportamientos constituyen los principios básicos y más importantes, con los que debiera contar el facilitador, con la finalidad de que sirvan como lineamientos y guía para una buena conducta profesional, en la interacción horizontal entre el y los participantes.
							p Este Código de Ética identifica principios fundamentales, que describen la conducta ética que deben tener los facilitadores así como a lo que ellos o la profesión deberían aspirar, presentando una guía clara y específica para orientar su accionar docente.
							p Estos principios éticos están basados en valores universales, que  permitan el desarrollo de nuestra propia conciencia para ser mejores seres humanos. En tal sentido, el Capacitador,  como uno de los estamentos fundamentales del proceso de enseñanza-aprendizaje, asume el compromiso voluntario de respetar y aplicar estos principios, poniendo al servicio de los artesanos su rol Docente.
						div#first-block-purple
							h3 1. Conducta Ética:
							p Se espera que el facilitador pueda actuar en todo momento consecuentemente con los valores morales, las buenas costumbres y prácticas profesionales. Implica sentir y obrar de este modo en todo momento, tanto en la vida profesional y laboral como en la vida privada, ya que las buenas costumbres y los valores morales están dentro de sus características como ser humano. Guía sus decisiones y acciones, sobre la base de sus valores morales y es un modelo que influye de manera positiva, en su entorno.
						div#second-block-purple
							h3 2. Justicia e Imparcialidad:
							p Actitud permanente que debe tener el facilitador, de dar a cada uno lo que corresponde o merece, basándose en la equidad, velando siempre por el cumplimiento de las normas, comportamiento ético y mejores prácticas docentes. Implica pensar, sentir y actuar de este modo en todo momento, en cualquier circunstancia, aunque fuese más cómodo no hacerlo.
							p Se debe enfocar en evaluar y valorar cada persona, situación o cosa, en su adecuada medida y de acuerdo con una escala de valores en la que predomina la ética y el respeto por los demás.
								Por otro lado, debe actuar con imparcialidad y objetividad, evitando tomar partido basado en simpatías, afinidades o intereses propios.
						div#third-block-purple
							h3 3. No Emitir Juicios Anticipados (Prejuicios):
							p  El facilitador debe evitar formar conceptos o juicios de valor de manera anticipada, antes de conocer a la persona o situación de manera imparcial y objetiva o antes de basarse en evidencias concretas sobre hechos reales o sin tener una experiencia directa, previa o real antes de generar un juicio de valor.
							p Esta actitud de generar prejuicios (sociales y culturales) es sumamente negativa para la labor del facilitador, pues influiría en el desarrollo exitoso del taller y sobretodo en la relación de confianza y respeto que debe existir entre los artesanos – artistas y diseñadores y el facilitador. 
							p De la conducta prejuiciosa, se desprende el mal hábito de subestimar a los grupos de personas que “no son iguales a nosotros” por diversos motivos (cultura, grado académico, idioma, etc.); como también, tomar posturas anticipadas basadas en juicios erróneos (postura política, religiosa, de genero). 
						div#fourth-block-purple
							h3 4. Respeto por las Creaciones y Técnicas (Propiedad Intelectual):
							p El facilitador mediante su rol, puede promover y fomentar el respeto de los derechos de los creadores en el sector de la artesanía – diseño – arte, conocedor de atesorar la propiedad intelectual de este grupo de participantes.  Es muy importante ayudar a preservar las industrias culturales que se generan en base a las creaciones artísticas,  las cuales logran un impacto positivo en el desarrollo económico y cultural del país.
							p El facilitador puede informar y apoyar a conocer los derechos con los que cuentan los artistas en el campo artesanal, como la protección con la que cuentan sus creaciones (propiedad intelectual). 
							p Como se sabe, la Ley 29073, del Artesano y del desarrollo de la actividad artesanal, reconoce a la artesanía peruana como la actividad económica y cultural destinada a producir objetos de forma manual, teniendo una función útil o decorativa. Así, las artesanías que cuenten con un sello individual son consideradas obras protegidas por la legislación sobre Derecho de Autor y por consiguiente, como obras de arte aplicado.

						div#fifth-block-purple
							h3 5. Integridad:
							p  Hace referencia a actuar con rectitud y en consonancia con los que cada uno considera importante según sus valores. Incluye comunicar las intenciones, ideas y sentimientos abierta y honestamente. Las acciones del facilitador deben ser coherentes con lo que piensa y dice. Cuando se equivoca admite sus errores y actúa en consecuencia. Acepta diferentes opiniones y planteos y trata de incorporar las sugerencias de manera genuina para mejorar el desarrollo de los talleres. Debe ser capaz de establecer relaciones con los participantes basados en el respeto mutuo y honestidad.
						div#sixth-block-purple
							h3 6. No Traspasar el Límite entre Liderazgo y Egocentrismo:
							p Un facilitador tiene la gran responsabilidad de ser un líder y persona referente en su labor. Pero no debe olvidar que, la función principal de todo gran líder, es servir y ser humilde; es precisamente en esta situación cuando uno cae en el egocentrismo, pues exagera su rol centrando su atención en sí mismo y descuida sus objetivos de desarrollo como persona íntegra y como buen profesional. Lo cual influye negativamente en el desarrollo de los talleres.
							p Cuando hablamos de liderazgo sabemos que el verdadero líder no se impone, no tiene que  hacerse respetar, ni tiene que mostrar superioridad para que su equipo lo siga. Un líder guía más que dirigir e influye en los demás por convicción y no por imposición de una jerarquía.
						div#seventh-block-purple
							h3 7. Sencillez y Humildad:
							p Es la característica que debe tener un facilitador para actuar y expresarse  sin dobleces ni engaños, diciendo siempre la verdad. Generando confianza con sus pares y sobretodo, con artesanos y quienes participan en sus talleres. La sencillez debe ser percibida por otras personas con las que se interactúa.
							p Debe generar vínculos de confianza basados en la humildad, franqueza y naturalidad en todos los niveles, y puede hacer llegar a todos los asistentes, sus ideas de la forma más adecuada, sin utilizar complejos o sofisticados vocabularios técnicos. Genera  la confianza de quienes lo rodean, por su honestidad y humildad, siendo coherente con estos valores tanto en su vida personal como profesional.
						div#eighth-block-purple
							h3 8. Compromiso y Lealtad
							p El Capacitador, debe sentir como propios los objetivos que se tengan para cada uno de los talleres en donde participa, sintiéndose totalmente identificado con ellos, lo cual es su guía para la acción y toma de decisiones en cada situación. Se siente orgulloso de ser parte de un equipo que tiene objetivos que beneficiarán a la comunidad de artesanos y actúa consecuentemente.
							p Y por otro lado, busca transmitir ese compromiso y a través de su rol, crea relaciones de valor basadas en el compromiso mutuo con los artesanos, los motiva y hace participes para generar identificación y lazos de confianza.
						.section__dot__nav
							a(href!="#first-block-purple").circle__nav
							a(href!="#second-block-purple").circle__nav
							a(href!="#third-block-purple").circle__nav
							a(href!="#fourth-block-purple").circle__nav
							a(href!="#fifth-block-purple").circle__nav
							a(href!="#sixth-block-purple").circle__nav
							a(href!="#seventh-block-purple").circle__nav
							a(href!="#eighth-block-purple").circle__nav
					.navigation__arrows
						.arrow__right(data-go="section__description--purple1", data-image="static/images/imagen-morado-main.jpg")
							img(src!=config.static_url("images/navigation-arrow.png") alt="")
						.arrow__left(data-go="section__description--purple1" data-image="static/images/imagen-morado-main.jpg")
							img(src!=config.static_url("images/navigation-arrow.png") alt="")
					.navigation__dots
							.dot(data-switch="section--yellow").yellow__dot
							.dot(data-switch="section--green").green__dot
							.dot(data-switch="section--blue").blue__dot
							.dot(data-switch="section--orange").orange__dot
							.dot(data-switch="section--pink").pink__dot
							.dot(data-switch="section--purple").purple__dot
	section.creditos
		.creditos__info
			h2 Grupo Axis Arte Investigacion Aplicada Al Desarrollo 
			.creditos__info__text
				p AXIS Arte promueve establecer puentes entre el ámbito académico PUCP y comunidades determinadas para generar opciones alternativas de desarrollo sostenible, propiciando comunidades de aprendizaje interculturales basadas en la retroalimentación ínter y transdiciplinaria.
				p AXIS Arte busca lograr un cambio social a través de propuestas creativas de investigación aplicada en arte y diseño de manera no convencional, desarrollando así el capital humano y social desde dentro hacia afuera de la organización.
				p AXIS Arte busca generar oportunidades creativas e innovadoras de investigación aplicada desde el Arte y el Diseño para el aprendizaje, propuestas y retroalimentación interculturales, así como para la formación del capital humano y social, a través de programas y proyectos, en beneficio del desarrollo de comunidades específicas.
			.creditos__info__image
				img(src!=config.static_url("images/foto_creditos.jpg") alt="AXIS Arte")
			h2 Toolkit – Proyecto
			p El proyecto Toolkit nace como una iniciativa del Grupo Axis Arte, quienes por la experiencia y manejo en la gestión de equipos de trabajo e interacción con grupos de Artesanos / Artistas y Diseñadores a nivel nacional, buscan crear un compendio con las mejores practicas y herramientas, compartiendo así, su valioso knowhow.
			p Este proyecto se basa en la creación de una “caja de herramientas” que brinde un soporte y ayuda a los todos los Facilitadores, que interactúe con este grupo humano que tiene sus propias características especiales y sensibles, para el optimo manejo de talleres, seminarios, encuentros, dinámicas, etc., teniendo como base principal el respeto por la propiedad intelectual y una relación horizontal.
			p El Toolkit, permitirá contar con una guía para que el Facilitador pueda contar con un marco y soporte de mejores practicas para optimizar su labor. Contará con herramientas, guias, formatos, ideas practicas y materiales, para desarrollar con una base de apoyo, su gestión.
			p A través del Toolkit se busca obtener el mejor resultado y riqueza de información de los participantes, como también el mejor liderazgo por parte del Facilitador.
			p Se busca crear una Herramienta 360°, que abarque desde los recursos que puede utilizar el Facilitador en los talleres, encuentros etc., hasta una guía para apoyarlo en su gestión.
			p Este Manual ha sido la recopilación de años de experiencia de los miembros del Grupo AXIS Arte y se contó también, con los valiosos aportes de Capacitadores Externos, desde su perspectiva y vasta experiencia en la gestión de artesanos, artistas y diseñadores de diversas especialidades.
			h2 Créditos
			p.creditos__info__names Facilitadores AXIS: Edith Meneses - Luchy Hermoza - Pilar Kukurelo - Justine Lamarche - Claudia Lam - Lucia Wong - Marita Ibáñez
			p.creditos__info__names Facilitadores Externos: Alejandra Cuervas: Nómades - Xavier Negrillo: Mujeres Aymaras
			p.creditos__info__names Diseño Web AXIS: Roberto Ballón - Cristina Frisancho  
		.creditos__footer
			ul
				li.footer__web 
					a(href!="http://investigacion.pucp.edu.pe/grupos/axis/", target!="_blank") www.investigacion.pucp.edu.pe/grupos/axis/
				li.footer__fb 
					a(href!="https://www.facebook.com/axisarte/", target!="_blank") /axisarte
				li.footer__mail axis@pucp.pe, axisarte@gmail.com	
			p Teléfono: 626-2000 anexo 5602. Atención de lunes a viernes de 9:00 a.m. a 6 p.m.
	.container__popup
		.popup
			img(src!=config.static_url("images/close2.png")).popup__close
			h2 Toolkit - Proyecto
			p El proyecto Toolkit nace como una iniciativa del Grupo Axis Arte, quienes por la experiencia y manejo en la gestión de equipos de trabajo e interacción con grupos de Artesanos / Artistas y Diseñadores a nivel nacional, buscan crear un compendio con las mejores practicas y herramientas, compartiendo así, su valioso knowhow.
			p Este proyecto se basa en la creación de una “caja de herramientas” que brinde un soporte y ayuda a los todos los Facilitadores, que interactúe con este grupo humano que tiene sus propias características especiales y sensibles, para el optimo manejo de talleres, seminarios, encuentros, dinámicas, etc., teniendo como base principal el respeto por la propiedad intelectual y una relación horizontal.
			p El Toolkit, permitirá contar con una guía para que el Facilitador pueda contar con un marco y soporte de mejores practicas para optimizar su labor. Contará con herramientas, guias, formatos, ideas practicas y materiales, para desarrollar con una base de apoyo, su gestión.
			p A través del Toolkit se busca obtener el mejor resultado y riqueza de información de los participantes, como también el mejor liderazgo por parte del Facilitador.
			p Se busca crear una Herramienta 360°, que abarque desde los recursos que puede utilizar el Facilitador en los talleres, encuentros etc., hasta una guía para apoyarlo en su gestión.
			p Este Manual ha sido la recopilación de años de experiencia de los miembros del Grupo AXIS Arte y se contó también, con los valiosos aportes de Capacitadores Externos, desde su perspectiva y vasta experiencia en la gestión de artesanos, artistas y diseñadores de diversas especialidades.

block scripts
	+requireTag('site.home')