body
	font-family 'Lato', sans-serif
::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3);
	border-radius 10px;
	background-color #F5F5F5;

::-webkit-scrollbar
	width 6px
	background-color #F5F5F5

::-webkit-scrollbar-thumb

	border-radius 10px
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,.3)
	background-color #555
.container__popup
	background rgba(0,0,0,.6)
	position fixed
	left 0 
	right 0
	top 0 
	bottom 0
	z-index 999999999
	.popup
		background _celeste
		position relative
		padding 25px 20px
		font-family 'Lato'
		max-width 910px
		display block
		margin 0 auto
		top 7%
		p 
			font-size 16px
			color #326372
		h2 
			font-size 40px
			padding 10px
			font-family 'Fjalla One'
			background #3e3e3e
			max-width 90%
			color _white
			margin 0
			text-transform uppercase
		.popup__close
			position absolute
			right 20px
			top 40px
			width 40px
			cursor pointer		 
.footer
	background #b3b3b3
	position relative
	min-height 80px
	padding 10px
	p
		text-align center
		text-transform uppercase
		margin 0
		font-size 18px
		color _white
	.footer__logo
		position absolute
		right 10px
		top 10px
		bottom 10px
		width 80px
.explorer
	margin-top -60px
	text-align center
	p
		color _turquesa
		margin 8px 0
		font-size 15px
	img
		width 25px
		animation animationArrow .7s infinite

.body--home
	.header
		background url('../images/bg-header.png') no-repeat
		background-position center center
		background-size cover
		height 100vh
		min-height 580px
		//height 35vh
		display flex
		justify-content: center;
		align-items center
		.header__title
			width 510px
			margin 0 auto
			h1
			h2
				font-family 'Fjalla One', sans-serif
				text-transform uppercase
				margin 0
				color _white
				text-align center
			h1
				text-align left
			h2
				font-size 80px
				display block
	.home
		position relative
		.home__sides
			p 
				font-family 'Fjalla One', sans-serif
				color _turquesa
				text-transform uppercase
				font-size 40px
				text-align center
				display inline-block
				width 49.5%
		.home__navigation
			//text-align center
			width 500px
			margin 0 auto 50px
			position relative
			img
				width 100%
			.container__dots
				.dot__container
					.dot__click
						width 30px
						border-radius 50%
						height 30px
						display inline-block
						vertical-align middle
						position absolute
						cursor pointer
					.dot__content
						padding 20px
						width 325px
						border-radius 0 60px 60px 0
						position relative
						cursor pointer
						p
							display inline-block
							margin 0 8px 0 0
							color _white
							text-transform uppercase
							font-size 14px
						.dot
							width 30px
							border-radius 50%
							height 30px
							display inline-block
							vertical-align middle
							background _white
							position absolute
							top 15px
							right 15px
							cursor pointer
						&.dot__content--left
							text-align center
						&.dot__content--right
							text-align left
							border-radius 60px 0 0 60px
							.dot
								left 15px
							p 
								text-align left
								margin-left 45px
				.dot__yellow
					.dot__content
						position absolute
						left -168px
						top -26px
						background _yellow
						display none
					.dot__color--yellow
						background _yellow
						left 112px
						top -11px
						animation animationDot 1s infinite
				.dot__orange
					.dot__content
						position absolute
						right -168px
						top -26px
						background _orange
						display none
					.dot__color--orange
						background _orange
						right 112px
						top -11px
				.dot__green
					.dot__content
						position absolute
						left -288px
						top 187px
						background _green
						display none
					.dot__color--green
						background _green
						left -8px
						top 202px
				.dot__pink
					.dot__content
						position absolute
						right -288px
						top 187px
						background _pink
						display none
					.dot__color--pink
						background _pink
						right -8px
						top 202px
				.dot__blue
					.dot__content
						position absolute
						left -168px
						bottom -21px
						background _blue
						display none
					.dot__color--blue
						background _blue
						left 112px
						bottom -8px
				.dot__purple
					.dot__content
						position absolute
						right -168px
						bottom -21px
						background _purple
						display none
					.dot__color--purple
						background _purple
						right 112px
						bottom -8px
		.home__sections
			font-size 14px
			.section
				position absolute
				left 0
				right 0
				top 0
				background #dbdbdb
				display none
				.section__image
					display inline-block
					vertical-align top
					width 49%
					img
						width 100%
					.section__image__title
						color _white
						padding 20px
						text-align right
						text-transform uppercase
						font-weight 900
						h2 
							margin 0
							font-size 2.3em
						p 
							margin 0	
							font-size 1.2em	
				.section__description
					padding 30px 25px
					display inline-block
					vertical-align top
					width 49%
					// color _greenDesc
					color #2B2B2B
					position relative
					.section__description__content
							max-height 480px
							overflow auto
						.close__button
							width 40px
							cursor pointer
							position absolute
							right 40px
							//right 0
							top 25px
							img
								width 100%
						h2
							margin-top 0
							margin-bottom 50px
							font-size 2em
							text-transform uppercase
						div
							h3
								font-size 1.7em
								font-weight 900
							img
								width 100%
						.first__block
							margin-bottom 50px
					.section__dot__nav
							position absolute
							right 0
							top 200px 
						.circle__nav
							width 10px
							border-radius 50%
							height 10px
							cursor pointer
							background _white
							margin 5px 0
							display block
							text-decoration none
					.navigation__arrows
						max-width 45px
						position absolute
						right 0
						margin-top 15px
						bottom -120px /*FLECHA X CONTAINER TEXTO*/
						.arrow__right
							padding 5px 15px
							margin-bottom 5px
							img
								width 15px
						.arrow__left
							padding 5px 15px
							img
								width 15px
								transform rotate(180deg)
						.arrow__left,
						.arrow__right
							cursor pointer
							transition width .7s
							transition padding .7s
							&:hover
								width 60px
						.arrow__right
							&:hover
								padding 5px 15px 5px 30px
						.arrow__left
							transition margin-left .7s
							&:hover
								margin-left -15px
								padding 5px 30px 5px 15px
					.navigation__dots
						position absolute
						bottom -90px
						left 0 
						right 0 
						text-align center
						.dot
							width 30px
							border-radius 50%
							height 30px
							display inline-block
							vertical-align middle
							cursor pointer
							margin 0 5px
							&.yellow__dot
								background _yellow
							&.green__dot
								background _green
							&.blue__dot
								background _blue
							&.orange__dot
								background _orange
							&.pink__dot
								background _pink
							&.purple__dot
								background _purple
			.section--yellow
				.section__image
					background _yellow
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _yellow
				.section__description
					.section__description__content
						img
							max-width 750px
							margin 8px auto
							display block
				.section__description--yellow2,
				.section__description--yellow3,
				.section__description--yellow4
					display none
			.section--green
				.section__image
					background _green
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _green
			.section--blue
				.section__image
					background _blue
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _blue
				.section__description
					.section__description__content
						img
							max-width 596px
							margin 8px auto
							display block
			.section--orange
				.section__image
					background _orange
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _orange
				.section__description
					.section__description__content
						img
							max-width 596px
							margin 8px auto
							display block
			.section--pink
				.section__image
					background _pink
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _pink
				.section__description__content
						img
							max-width 415px
							margin 8px auto
							display block
				.section__description--pink2,
				.section__description--pink3
					display none

			.section--purple
				.section__image
					background _purple
				.navigation__arrows
					.arrow__left,
					.arrow__right
						background _purple
				.section__description--purple2
					display none
	.creditos
		background url('../images/bgcreditos.jpg') no-repeat
		background-position center center
		background-size cover
		min-height 560px
		height 100vh
		margin-top 30px
		padding-top 15px
		.creditos__info
			max-width 80%
			margin 0 auto
			background #ffffff
			padding 15px
			h2
				font-size 40px
				padding 10px
				font-family 'Fjalla One'
				background #3e3e3e
				color _white
				margin 0
				text-transform uppercase
			.creditos__info__text
				display inline-block
				vertical-align top
				width calc(100% - 530px)
				margin 0 25px 0 0 
			.creditos__info__image
				display inline-block
				vertical-align top
				width 500px
				margin-top 20px
				img
					width 100%
			.creditos__info__names
				font-weight bold
		.creditos__footer
			background #3e3e3e
			padding 30px 0 
			text-align center
			color _white
			font-weight bold
			ul
				padding 0
				margin 0
				li 
					list-style none
					display inline-block
					&.footer__web
						&:before
							content ' '
							height 45px
							width 47px
							background url('../images/ico-home.png')
							display inline-block
							vertical-align middle
							margin-right 8px
					&.footer__fb
						&:before
							content ' '
							height 41px
							width 41px
							background url('../images/ico-fb.png')
							display inline-block
							vertical-align middle
							margin 0 8px
					&.footer__mail
						&:before
							content ' '
							height 35px
							width 45px
							background url('../images/ico-mail.png')
							display inline-block
							vertical-align middle
							margin 0 8px
					a 
						text-decoration none
						color inherit
			p 
				&:before
					content ' '
					height 40px
					width 39px
					background url('../images/ico-phone.png')
					display inline-block
					vertical-align middle
					margin-right 8px
										
@media screen and (min-width: 1600px)
	.body--home
		.home 
			.home__sections 
				.section 
					.section__description 
						.section__description__content
							max-height 580px
							

@media screen and (max-width: 1400px)
	.body--home 
		.home 
			.home__sections 
				.section 
					.section__description 
						.navigation__arrows
							bottom -72px

@media screen and (max-width: 1400px)
	.body--home 
		.home 
			.home__sections 
				.section 
					.section__description 
						.navigation__dots
							bottom -70px

@media screen and (max-width: 1000px)
	.body--home
		.header
			height 50vh
			min-height 300px
			background _turquesa
			
		.home 
			.home__sections 
				.section 
					.section__image
						display block
						width 100%
						max-width 100%
					.section__description
						width 100%
						max-width 100%
						.section__description__content
							max-height auto
						.navigation__arrows
							bottom 0
						.section__dot__nav
							right 10px
					.section__description--yellow1
						display block
		.creditos
			background none
			.creditos__info
				width 100%
				max-width 100%
				h2 
					font-size 20px
				p 
					font-size 14px
				.creditos__info__text
					width 100%
					display block
				.creditos__info__image
					max-width 500px
					width 100%
					display block
			.creditos__footer
				padding 10px
				ul 
					li 
						display block
						margin 8px 0
						&:before
							display none !important
				p 
					&:before
						display none !important

@media screen and (max-width: 500px)
	.explorer
		margin-top -40px 
	.body--home
		.header
			.header__title
				h1
					padding-left 15px
				h2 
					font-size 50px
		.home
			.home__navigation
				width 100%
				.container__dots
					.dot__yellow
						.dot__color--yellow
							left 81px
					.dot__blue
						.dot__color--blue
							left 81px
					.dot__orange
						.dot__color--orange
							right 81px
					.dot__purple
						.dot__color--purple
							right 81px
					.dot__pink
						.dot__color--pink
							top 150px
							right -4px
					.dot__green
						.dot__color--green
							top 150px
							left -4px
					.dot__container
						.dot__content
							display none !important
			.home__sections
				.section
					.section__image
						.section__image__title
							h2
								font-size 2em
					.section__description
						h2
							font-size 1.8em
						.navigation__dots
							bottom 5px
	.container__popup
		.popup
			h2
				font-size 30px
			p 
				font-size 12px
			.popup__close
				right 7px
				top 30px
	

