@keyframes animationArrow
	0%
		transform translateY(0px)
	50%
		transform translateY(3px)
	100%
		transform translateY(0px)		

@keyframes animationDot
	0%
		transform scale(1.1)
	50%
		transform scale(1)
	100%
		transform scale(1.1)